.list-item{
    display: flex;
    height: 100%;
    cursor: pointer;
    min-height: 50px;
}

.list-item:hover{
    background-color: #dbdbe3;
}

.left{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.checkbox{
    margin: 0 20px 0 20px;
}

.right{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}
